.hero-section{
    background-image: url(../../assets/img/img-home.jpg);
    padding: 12% 0;
    opacity: 0.95;
    z-index: 1;

    h1,p{
        color: #fff;
    }
    .btn{
            background-image: linear-gradient(90deg, #8b62ff, #3b1bff);
            outline: none;
            border: none;
            padding: 0.5rem;
        }
}